.accordionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordionItem {
  border-radius: clamp(20px, 5vw, 40px);
  border: 1px solid #e5e7eb;
  overflow: hidden;
  box-shadow: 0px 4px 39.4px 0px #0000001a;
  transition: background 0.3s ease;
  padding: clamp(16px, 4vw, 24px);
}

.active {
  background: #dae9ff;
}

.accordionHeader {
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  padding: clamp(7px, 2vw, 20px);
}

.question {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 2.5vw, 22px);
  color: #1e2d42;
  line-height: clamp(18px, 2.5vw, 28px);
  letter-spacing: 0;
  vertical-align: middle;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.open {
  max-height: 500px;
}

.closed {
  max-height: 0;
}

.answer {
  padding: clamp(14px, 2vw, 20px);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(13px, 2vw, 16px);
  line-height: 1.5;
  letter-spacing: 0;
  color: #505050;
}
