.sectionContentH3 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: clamp(20px, 2vw, 28px) !important;
  line-height: 28.6px !important;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: clamp(10px, 2vw, 20px) !important;
}

.sectionContent h1,
.sectionContent h2,
.sectionContent h3,
.sectionContent h4,
.sectionContent h5,
.sectionContent h6 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(14px, 2vw, 18px);
  line-height: clamp(20px, 2vw, 28px);
  letter-spacing: 0%;
  margin-bottom: 3px;
}

.sectionContent p,
.sectionContent ul {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(14px, 2vw, 18px);
  line-height: clamp(22px, 2vw, 28px);
  letter-spacing: 0%;
  margin-bottom: 20px;
  color: #000000;
}
