.card {
  width: auto;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 1.06px 26.44px 0px #0e38b11f;
  transition: all ease-in-out 0.3s;
}
.card:hover {
  box-shadow: 0px 1.06px 26.44px 0px #0e37b15d;
  transform: scale(1.01);
}
.card:hover .imageWrapper img {
  transform: scale(1.03);
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 240px;
  transition: all 0.3s ease-in-out;
}

.dateBadge {
  position: absolute;
  z-index: 10;
  bottom: 0%;
  transform: translateY(50%);
  left: 10%;
  border-radius: 12px;
  overflow: hidden;
}

.date {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  padding: 0px 12px;
  padding-top: 15px;
  padding-bottom: 2px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: #fdf2e7;
  text-transform: uppercase;
  line-height: 16px;
}
.date span:nth-child(1) {
  font-size: 24px;
}

.year {
  background-color: #1b3c53;
  font-family: Poppins;
  font-weight: 500;
  font-style: Bold;
  font-size: 12px;
  text-align: center;
  color: #fdf2e7;
  padding: 2px;
}

.imageWrapper img {
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
}
.sectionContent {
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.sectionContent h3 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(14px, 4vw, 26px);
  line-height: clamp(20px, 5vw, 38px);
  letter-spacing: 0%;
  color: #0e0e0e;
  transition: all ease-in-out 0.3s;
}
.sectionContent a:hover h3 {
  color: var(--primary-color);
}
.sectionContent a {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  vertical-align: middle;
  color: #4679b5;
  transition: all ease-in-out 0.3s;
}
.sectionContent a:nth-child(2):hover {
  transform: scale(95%);
  color: #366499;
}
