.subscribeInputBox {
  position: relative;
  z-index: 100;
  background-color: #ffffff;
  border: 1.54px solid #0e0e0e1a;
  border-radius: 46px;
  padding: 0px 30px;
  padding-right: 12px;
}
.subscribeInputBox:hover {
  box-shadow: 0 12px 40px #0e37b18a;
}
.inputBox {
  padding: 24px 0px;
  border: none;
  outline: none;
  flex: 1;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #50505081;
}

.btnBox {
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 12px;
  transition: all ease-in-out 0.3s;
}
.btnBox:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 40px rgba(14, 56, 177, 0.25);
}
@media (max-width: 768px) {
  .subscribeInputBox {
    padding-right: 10px;
    padding-left: 20px;
  }
  .inputBox {
    padding: 18px 1px;
  }
  .btnBox {
    padding: 8px;
  }
  .btnBox svg {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 576px) {
  .subscribeInputBox {
    padding-right: 5px;
    padding-left: 20px;
  }
  .inputBox {
    padding: 12px 1px;
  }
  .btnBox {
    padding: 8px;
  }
  .btnBox svg {
    width: 22px;
    height: 22px;
  }
}
