.roundBtn {
  padding: 8px 8px;
  padding-left: 16px;
  min-width: 135px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease, color 0.3s ease;
  box-shadow: 0 8px 20px rgba(14, 56, 177, 0.2);
  cursor: pointer;
  flex-wrap: nowrap;
  gap: 8px;
}

.bgFilled {
  background-color: #9bc9ff;
  color: var(--primary-color);
  border: 1px solid transparent;
}
.bgOutlined {
  background-color: #ffffff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.bgOutlined:hover {
  background-color: #88bcf7;
  color: #ffffff;
  border: 1px solid var(--primary-color);
}

.bgFilled:hover {
  background-color: #77b4ff;
  color: #fff;
  border: 1px solid var(--primary-color);
}
.roundBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 40px rgba(14, 56, 177, 0.25);
}

.btnText {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  /* font-family: "DM Sans", sans-serif; */
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
}

.btnIcon {
  padding: 0.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: var(--primary-color);
  width: 32px;
  height: 32px;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .roundBtn {
    min-width: 110px;
    padding: 6px 12px;
    gap: 6px;
  }

  .btnIcon {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .btnIcon {
    width: 20px;
    height: 20px;
    font-size: 14px;
    padding: 2px;
  }
  .roundBtn {
    min-width: auto;
    padding: 8px;
    padding-left: 16px;
  }
  .btnText {
    font-size: 14px;
  }
}
