.featuredJobsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sectionContent h2 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(28px, 3vw, 52px);
  line-height: clamp(32px, 4vw, 66px);
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  text-align: center;
}
.slidesDisplay {
  display: none;
}

@media (max-width: 1200px) {
  .slidesDisplay {
    display: block;
  }
  .gridDisplay {
    display: none !important;
  }
}
