.stayWrapper {
  position: absolute;
  top: 40%;
  width: 100%;
}
.stayAheadInJobHuntContainer {
  background: linear-gradient(118.11deg, #9bc9ff 7.29%, #4e96ea 95.39%);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 55px 0px;
  flex-direction: column;
}
.sectionContent h3 {
  font-size: clamp(28px, 4vw, 40px);
  padding: 0px 20px;
  text-align: center;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  line-height: clamp(32px, 5vw, 36.4px);
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  text-shadow: 2px 2px 6px #00000040, 0 4px 10px #00000026;
}

@media (max-width: 768px) {
  .stayAheadInJobHuntContainer {
    padding: 45px 0px;
  }
}
