.footer {
  background-color: #f6f6f6;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  padding-top: 175px;
  padding-bottom: 10px;
}
.Logo {
  font-family: Poppins;
  font-size: clamp(28px, 4vw, 52px);
  font-weight: 900 !important;
}
.footerWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footerNavItemUl li a {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  display: inline-block;
  transition: all 0.3s ease;
}

.footerNavItemUl li a:hover {
  color: var(--primary-color);
  transform: scale(1.02);
}

.footerContactLink li:hover {
  transform: scale(1.02);
  color: var(--primary-color);
  transition: all ease 0.8s;
}

.sectiionContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sectiionContent h4 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 26px;
  letter-spacing: 0%;
  color: #262626;
}
.sectiionContent p {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(12px, 4vw, 16px);
  line-height: clamp(24px, 5vw, 26px);
  letter-spacing: 0%;
  color: #262626;
  transition: all ease-in-out 0.3s;
}
.socialIcons img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px #4f46e54d;
  border-radius: 8px;
}

.bottomLine {
  border-bottom: 1px solid #0e0e0e;
  padding: 2px 0px;
}
.topLine {
  border-top: 1px solid #0e0e0e;
  padding: 8px 0px;
}
.StayAheadInJobHuntWrapper {
  position: relative;
  height: 150px;
  top: -30px;
}
.socialFollowWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media (max-width: 576px) {
  .footer {
    padding-top: 130px;
  }
  .bottomLine {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .socialFollowWrapper {
    flex-direction: column;
    gap: 10px;
  }
  .socialFollowWrapper .sectiionContent h4 {
    font-weight: 400;
  }
  .topLine {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .topLine .sectiionContent p,
  .topLine .sectiionContent li a {
    font-size: clamp(12px, 4vw, 16px);
  }
  .sectiionContent {
    gap: 10px;
  }
  .footerContactLink {
    width: 80vw;
    position: relative;
  }
  .StayAheadInJobHuntWrapper {
    position: relative;
    height: 155px;
  }
}
