.container {
  border-radius: 40px;
  box-shadow: 0px 4px 39.4px 0px #0000001a;
  background: #dae9ff;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  margin-top: 50px;
}
.sectionContent h3 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.sectionContent p {
  color: #505050;
  font-family: Poppins;
}
