.jobCard {
  width: 100%;
  height: 243px;
  border-radius: 40px;
  background: #ffffff;
  border: 1px solid #0e0e0e1a;
  box-shadow: 0px 2px 50px 0px #0e38b10d;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform, box-shadow;
  transform: translateZ(0);
}

.jobCard:hover {
  transform: scale(1.01);
  box-shadow: var(--box-shadow);
}

@media (max-width: 600px) {
  .jobCard {
    padding: 15px 20px;
    border-radius: 25px;
    height: auto;
    gap: 2rem;
  }
  .jobProfileInfoHeader > div:nth-child(2) > div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .jobCard {
    height: auto;
    gap: 1.5rem;
    padding: 10px 12px;
    border-radius: 17px;
  }
}
