/* ========================= */
.resoucesOwner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.resoucesOwner p {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1e2d42;
}
.imageWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profileImage {
  object-fit: cover;
  object-position: center;
}
